<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <script src="https://cdn.bootcss.com/remarkable/1.7.1/remarkable.min.js"></script>
    <link rel="stylesheet" href="/static/css/blog.main.css">
    <link rel="stylesheet" href="/static/css/blog.render.css">
    <title>编辑页面</title>
</head>
<body>
    <form class="post-article" method="POST" action="{{ url_for('.post') }}">
        <input type="hidden" name="blog_id" class="blogId" value="{{ blog.id or -1 }}">
        <input name="title" class="title-post" type="text" placeholder="输入标题"
            value="{{ blog.title }}">
        <div class="article-main">
            <div id="md-tools" class="tools-bar">
                <button class="btn-post">发布文章</button>
            </div>
            <div class="article-content">
                <textarea class="markdown-text" name="content">{{ blog.content }}</textarea>
                <div class="markdown-render"></div>
            </div>
        </div>
    </form>
    <script src="/static/js/init.js"></script>
    <script src="/static/js/mdRender.js"></script>
</body>

</html>