<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>blog</title>
    <link rel="stylesheet" href="/static/css/blog.main.css">
    
</head>

<body>
    <div id="container" q-class="show:isCtnShow" style="height: 578px;">
        <canvas id="anm-canvas" class="anm-canvas" width="848" height="578"></canvas>
        <div class="left-col" q-class="show:isShow">
        </div>

        <div class="mid-col" q-class="show:isShow,hide:isShow|isFalse">

            <nav id="mobile-nav">
                <div class="overlay js-overlay" style="background: #4d4d4d"></div>
                <div class="btnctn js-mobile-btnctn">
                    <div class="slider-trigger list" q-on="click: openSlider(e)"><i class="icon icon-sort"></i></div>
                </div>
                <div class="intrude-less">
                    <header id="header" class="inner">
                        <div class="profilepic">
                            <img src="/static/assets/blogImg/cute.png" class="js-avatar">
                        </div>
                        <hgroup>
                            <h1 class="header-author js-header-author">Litten</h1>
                        </hgroup>

                        <nav class="header-nav">
                            <div class="social">

                                <a class="github" target="_blank" href="https://github.com/" title="github"><i
                                        class="icon-github"></i></a>

                                <a class="weibo" target="_blank" href="http://weibo.com/" title="weibo"><i
                                        class="icon-weibo"></i></a>

                                <a class="rss" target="_blank" href="/atom.xml" title="rss"><i class="icon-rss"></i></a>

                            </div>
                        </nav>

                        <nav class="header-menu js-header-menu">
                            <ul style="width: 50%">


                                <li style="width: 50%"><a href="/">主页</a></li>

                                <li style="width: 50%"><a href="/photos">相册</a></li>

                            </ul>
                        </nav>
                    </header>
                </div>
                <div class="mobile-mask" style="display:none" q-show="isShow"></div>
            </nav>

            <div id="wrapper" class="body-wrap">
                <div class="menu-l">
                    <div class="canvas-wrap">
                        <canvas data-colors="#eaeaea" data-sectionheight="100" data-contentid="js-content" id="myCanvas1"
                            class="anm-canvas"></canvas>
                    </div>

                    <div id="js-content" class="content-ll">
                        <article id="post-{{ blog.id }}" class="article article-type-post " itemscope="" itemprop="blogPost"
                            data-blog-id="{{ blog.id }}">
                            <div class="article-inner">

                                <header class="article-header">
                                    <h1 class="article-title" itemprop="name">
                                        {{ blog.title }}
                                    </h1>
                                    <time class="archive-article-date" datetime="{{ blog.ct }}" itemprop="datePublished"><i
                                            class="icon-calendar icon"></i>{{ blog.ct }}</time>
                                </header>
                                <div class="markdown-text article-entry" itemprop="articleBody">
                                    {{ blog.content | safe}}
                                </div>
                                <div class="article-info article-info-index">
                                    <div class="article-tag tagcloud">
                                        <i class="icon-price-tags icon"></i>
                                        <ul class="article-tag-list">

                                            <li class="article-tag-list-item">
                                                <a href="javascript:void(0)" class="js-tag article-tag-list-link color3">旧事</a>
                                            </li>

                                            <li class="article-tag-list-item">
                                                <a href="javascript:void(0)" class="js-tag article-tag-list-link color3">游记</a>
                                            </li>

                                        </ul>
                                    </div>

                                </div>
                            </div>
                            <div id="comments" class="comments-area">
                                <div class="comments-list">
                                </div>
                            </div>
                        </article>


                        <nav id="article-nav">
                            {% with next_blog = blog.find_by(id=blog.id+1) %}
                            {% if next_blog != None %}
                            <a href="{{ url_for('blog.detail', blog_id=blog.id+1) }}" id="article-nav-older" class="article-nav-link-wrap">
                                <div class="article-nav-title">
                                    {{ next_blog.title }}
                                </div>
                                <i class="icon-circle-right"></i>
                            </a>
                            {% else %}
                            <div id="article-nav-older">
                                <div class="article-nav-title">没有下一篇了</div>
                            </div>
                            {% endif %}
                            {% endwith %}
                        </nav>
                        <aside class="wrap-side-operation">
                            <div class="mod-side-operation">

                                <div class="jump-container" id="js-jump-container" style="display:none;">
                                    <a href="javascript:void(0)" class="mod-side-operation__jump-to-top">
                                        <i class="icon-font icon-back"></i>
                                    </a>
                                    <div id="js-jump-plan-container" class="jump-plan-container" style="top: -11px;">
                                        <i class="icon-font icon-plane jump-plane"></i>
                                    </div>
                                </div>
                            </div>
                        </aside>

                    </div>
                </div>
            </div>
            <footer id="footer">
            </footer>
        </div>
    </div>

    <!-- Root element of PhotoSwipe. Must have class pswp. -->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

        <!-- Background of PhotoSwipe. 
                     It's a separate element as animating opacity is faster than rgba(). -->
        <div class="pswp__bg"></div>

        <!-- Slides wrapper with overflow:hidden. -->
        <div class="pswp__scroll-wrap">

            <!-- Container that holds slides. 
                        PhotoSwipe keeps only 3 of them in the DOM to save memory.
                        Don't modify these 3 pswp__item elements, data is added later on. -->
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
            <div class="pswp__ui pswp__ui--hidden">

                <div class="pswp__top-bar">

                    <!--  Controls are self-explanatory. Order can be changed. -->

                    <div class="pswp__counter"></div>

                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                    <button class="pswp__button pswp__button--share" style="display:none" title="Share"></button>

                    <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                    <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                    <!-- element will get class pswp__preloader--active when preloader is running -->
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>

                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                </button>

                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                </button>

                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>

            </div>

        </div>

    </div>

    
    <script type="text/javascript" src="/static/js/init.js"></script>
    <script type="text/javascript" src="/static/js/left_column.js"></script>
    <script type="text/javascript" src="/static/js/blog.js"></script>
</body>
</html>