<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
</head>

<body>
    <header>
        <div class="header-inner">
            <a class="blog-logo" href="/">ex'blog</a>
            <div class="tags">
                <span>前端</span>
                <div class="menu">
                    <li>
                        <a href="www.qq.com">js</a>
                    </li>
                    <li>前端</li>
                    <li>js</li>
                    <li>js</li>
                    <li>js</li>
                </div>
            </div>
            <span class="tags">
                <span>后端</span>
                <div class="menu">
                    <li>后端1</li>
                    <li>后端1</li>
                </div>
            </span>
            <span class="tags">
                <span>手机端</span>
            </span>
        </div>
    </header>
    <main>
        <div class="content-wrap">
        </div>
        <aside class="sidebar sidebar-active">
            <ul class="sidebar-nav">
                <li class="sidebar-nav-toc sidebar-nav-active">
                    文章目录
                </li>
                <li class="sidebar-nav-overview">
                    <!-- 站点概览 -->
                </li>
            </ul>
            <nav class="post-toc">
                <ol class="nav">

                </ol>
            </nav>
        </aside>
        <div class="toggle sidebar-toggle toggle-close">
            <span class="toggle-line toggle-line-first"></span>
            <span class="toggle-line toggle-line-middle"></span>
            <span class="toggle-line toggle-line-last"></span>
        </div>
    </main>
    <footer class="post-footer"></footer>

    <!-- script -->
    <script>
        const Front = {}
    </script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>   
    <script src="../static/js/utils.js"></script>
    <script src="../static/js/boot.js"></script>
</body>

</html>