<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>点滴</title>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
</head>
<body>
    <header>
        <nav class="header-inner">
            <span id="blog-logo" class="link" href="/">lzy300</span>
            <div class="menu">
                <span class="link">前端</span>
                <span class="link">后端</span>
            </div>
            <a class="about" href="/about">关于</a>
        </nav>
    </header>
    <main>
        <div class="main-content">
            <div class="search-title">
                标题
            </div>
            <div class="content-wrap">
            </div>
            <div class="pagination">
                <div class="page-number link underline" data-pn="1">1</div>
            </div>
        </div>
        <aside class="sidebar ">
            <ul class="sidebar-nav">
                <li class="sidebar-nav-toc sidebar-nav-active">
                    文章目录
                </li>
                <li class="sidebar-nav-overview">
                    <!-- 站点概览 -->
                </li>
            </ul>
            <nav class="post-toc">
                <ol class="toc-nav">

                </ol>
            </nav>
        </aside>
        <div class="toggle sidebar-toggle">
            <span class="toggle-line toggle-line-first"></span>
            <span class="toggle-line toggle-line-middle"></span>
            <span class="toggle-line toggle-line-last"></span>
        </div>
    </main>
    <footer class="footer">
        <div id="bei-an">
            <a href="http://beian.miit.gov.cn/" target="_blank">桂ICP备19010127号</a>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="/static/js/utils.js?v=1.1"></script>
    <script src="/static/js/motion.js?v=1.2"></script>
    <script src="/static/js/boot.js?v=1.1"></script>
</body>
</html>