<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>lzy 的站点</title>
    <!-- "Icon made by Pixel perfect from www.flaticon.com" -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.0.0/build/styles/xcode.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
</head>
<body>
    <header>
        <nav class="header-inner">
            <span id="blog-logo" class="link nav-link" data-path="/">lzy300</span>
            <div class="menu">
                <span class="link">前端</span>
                <span class="link">后端</span>
            </div>
            <span class="about link nav-link" data-path="/about">关于</span>
        </nav>
    </header>
    <main>
        <div class="main-content">
            <!-- <div class="search-title">
                标题
            </div> -->
            <div class="content-wrap">
            </div>
        </div>
        <aside class="sidebar ">
            <ul class="sidebar-nav">
                <li class="sidebar-nav-toc sidebar-nav-active">
                    文章目录
                </li>
                <li class="sidebar-nav-overview">
                    <!-- 站点概览 -->
                </li>
            </ul>
            <nav class="post-toc">
                <ol class="toc-nav">
                </ol>
            </nav>
        </aside>
        <div class="toggle sidebar-toggle">
            <span class="toggle-line toggle-line-first"></span>
            <span class="toggle-line toggle-line-middle"></span>
            <span class="toggle-line toggle-line-last"></span>
        </div>
    </main>
    <footer class="footer">
        <div id="bei-an">
            <a href="http://beian.miit.gov.cn/" target="_blank">桂ICP备19010127号</a>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.0.0/build/highlight.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.0.0/build/languages/dockerfile.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="/static/js/utils.js?v=1.4"></script>
    <script src="/static/js/sidebar.toc.js"></script>
    <script src="/static/js/index.js?v=1.1"></script>
    <script src="/static/js/detail.js?v=1.3"></script>
    <script src="/static/js/about.js?v=1.2"></script>
    <script src="/static/js/not.found.js"></script>
    <script src="/static/js/motion.js?v=1.3"></script>
    <script src="/static/js/boot.js?v=1.3"></script>
</body>
</html>
