<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册页面</title>
</head>
<body>
    <div id="message">{{ error }}</div>
    <form class="account-form-field" action="{{ url_for('.register') }}" method="post">
        <input id="username" class="account-form-input username" type="text"
        name="username" placeholder="用户名">
        <br>
        <input id="password" class="account-form-input password" type="text"
        name="password" placeholder="密码">
        <br>
        <button type="submit" class="register-button">注册</button>
    </form>
    <!-- <script src="/static/main.js"></script> -->
</body>
</html>